.pageContainer {
  font-family: var(--font-sans), sans;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden !important;

}

.titleBlock {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 0.5em;
  word-wrap: none !important;
  word-break: keep-all !important;
  white-space: nowrap !important;
  overflow-x: visible !important;
  overflow-y: visible !important;
  margin: -3em 0em 0em 0em;
}

.title h1 {
  display: flex;           /* Key: makes the text and badge align inline */
  align-items: center;     /* Vertical alignment */
  gap: 0.3em;              /* Add spacing between the text and badge */
  white-space: nowrap;  
  overflow: visible;   /* Prevent line breaks */
}

.title {
    display: flex;
     overflow: visible;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
}

.gBadge {
  font-size: 0.6em;
  border: 1px solid var(--color-fourth);
  border-radius: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  padding: 0em 0.3em 0.07em 0.1em;
  position: relative;
  overflow: visible;
  background-color: #000000;
}

.gBadge::before,
.gBadge::after {
  position: absolute !important;
  content: '';
  background-image: conic-gradient(from var(--angle), var(--color), #000000 5%, #000000 60%, var(--color));
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  height: 100%;
  width: 100%;
  animation: 3s spin linear infinite;
  padding: 2px;
  z-index: -1;
  border-radius: 13px;
}

.gBadge::before {
  filter: blur(0.1em) opacity(1)
}

.mainContainer {
  display: grid;
  height: 100%;
  width: 90%;
  align-items: end;
  margin: 1em 2em 1em 2em;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr;
  gap: 1em;
}

.mainContainer>div:nth-of-type(2) {
  border: 1px solid rgb(72, 70, 70);
  background-color: var(--color-second);
  height: 10em;
  border-radius: 9px;
  padding: 0em 1em 0.7em 0.7em;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  position: relative !important;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}



.mainContainer>div:nth-of-type(3) {
  color: white;
  font-size: 0.65em;
  justify-self: center;
}

.mainContainer>div:nth-of-type(1) p {
  font-size: 2em;
  text-align: center;
  text-shadow: 0px 0px 10px white;
}

.mainContainer>div:nth-of-type(1) {
  padding: 0em 1em 0em 1em;
  align-self: center;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  scrollbar-color: transparent;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  word-break: break-word;
}

.buttonWrapper {
  z-index: 1;
  position: relative;
  overflow: visible;
}

.button {
  font-family: var(--font-sans), sans;
  font-size: 1em;
  color: rgb(186, 186, 186);
  width: max-content;
  border-radius: 20px;
  border: none;
  padding: 0em 0.2em 0em 0.2em;
  cursor: pointer;
  position: relative;
}

.button::before,
.button::after {
  position: absolute !important;

  content: '';
  background-image: conic-gradient(from var(--angle), var(--color), #0d0d0d 5%, #0d0d0d 60%, var(--color));
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  order: 1;
  height: 100%;
  width: 100%;
  animation: 3s spin linear infinite;
  padding: 2px;
  z-index: -1;
  border-radius: 20px;
}

.button::before {
  filter: blur(0.2em) opacity(0.9)
}

@keyframes spin {
  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;
  }
}

@media screen and (max-width: 768px) {
  .titleBlock {
    width: 80%;
    height: fit-content;
    text-overflow: unset;

    margin: -1.2em 0em 0em 0em;
  }

  .title {
    
    font-size: 0.7em;
    overflow: hidden;
    height: max-content;
  }


}